*{
    box-sizing: border-box;
}

.box{
    background-color: aliceblue;
    border: 2px solid;
    padding: 25px;
    height: auto;
    float: left;
    text-align: center;
    
    width: 50%;
    max-width: 100%;
    min-width: 10%;
}

.container{
    background-color: rgb(121, 121, 121);
    height: 100em;
}